.page-header {
 background: #FFFFFF;
}
.logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
        text-decoration: none;
        }
        
span.logo-color {
    color: #000000;
}

    .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
}

.nav-link {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em; 
            text-decoration: none;
        
                color: #212121;
        }
.nav-link:hover {
                color: #2196F3;
                }
        
.nav-link:focus {
                color:#2196F3
    }
    .nav-link:active {
        color: #2196F3;
    }
        
                li {
            display: block;
        }

.contact-link {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;
color: #757575;
} 
        
.contact-link:hover {
    color: #2196F3;
}
.contact-link:focus {
    color: #2196F3
}

.contact-link:active {
    color: #2196F3;


.page-footer {

}